<p class="cart-attribute__field">
    <label>メッセージカード/のし (詳細は<a href="/pages/梱包-ギフト対応" style="border-bottom: 1px solid #fb8a68;">こちら</a>)</label>
    <select id="card-selection" name="attributes[メッセージカード/のし]">
        <option value="なし" {% if cart.attributes["メッセージカード/のし"] == "なし" %} selected{% endif %}>なし</option>
        <option value="メッセージカード" {% if cart.attributes["メッセージカード/のし"] == "メッセージカード" %} selected{% endif %}>メッセージカード</option>
        <option value="のし" {% if cart.attributes["メッセージカード/のし"] == "のし" %} selected{% endif %}>のし</option>
    </select>
</p>

<p class="cart-attribute__field">
    <label id="cart-gift-message-lable" style="display: none" for="cart-gift-message">ギフトカードメッセージ</label>
    <textarea id="cart-gift-message" name="attributes[ギフトカードメッセージ]" style="display: none" rows="4" onclick="select_text_if_default(this);">
      {{ cart.attributes["ギフトカードメッセージ"] | newline_to_br }}
    </textarea>
    <label id="cart-noshi-type-lable" style="display: none" for="cart-noshi-type">のし表書 (上段)</label>
    <select id="cart-noshi-type" name="attributes[のし表書]" style="display: none">
        <option hidden disabled value="" {% if cart.attributes["のし表書"] == "" %} selected{% endif %}></option>
        <option value="御祝" {% if cart.attributes["のし表書"] == "御祝" %} selected{% endif %}>御祝</option>
        <option value="内祝" {% if cart.attributes["のし表書"] == "内祝" %} selected{% endif %}>内祝</option>
        <option value="寿" {% if cart.attributes["のし表書"] == "寿" %} selected{% endif %}>寿</option>
        <option value="御見舞" {% if cart.attributes["のし表書"] == "御見舞" %} selected{% endif %}>御見舞</option>
        <option value="御中元" {% if cart.attributes["のし表書"] == "御中元" %} selected{% endif %}>御中元</option>
        <option value="御歳暮" {% if cart.attributes["のし表書"] == "御歳暮" %} selected{% endif %}>御歳暮</option>
        <option value="御年賀" {% if cart.attributes["のし表書"] == "御年賀" %} selected{% endif %}>御年賀</option>
        <option value="ご挨拶" {% if cart.attributes["のし表書"] == "ご挨拶" %} selected{% endif %}>ご挨拶</option>
        <option value="御礼" {% if cart.attributes["のし表書"] == "御礼" %} selected{% endif %}>御礼</option>
        <option value="その他" {% if cart.attributes["のし表書"] == "その他" %} selected{% endif %}>その他</option>
    </select>
    <input type='text' id="cart-noshi-type-other"
           name="attributes[のし表書 (その他)]"
           value='{{ cart.attributes["のし表書 (その他)"] }}'
           placeholder='ご希望の表書きをご入力ください。' style="display: none">
    <label id="cart-noshi-from-type-lable" style="display: none" for="cart-noshi-type">名入れ (下段)</label>
    <select id="cart-noshi-from-type" name="attributes[のし名入れ有無]" style="display: none">
        <option hidden disabled value="" {% if cart.attributes["のし名入れ有無"] == "" %} selected{% endif %}></option>
        <option value="なし" {% if cart.attributes["のし名入れ有無"] == "なし" %} selected{% endif %}>なし</option>
        <option value="あり" {% if cart.attributes["のし名入れ有無"] == "あり" %} selected{% endif %}>あり</option>
    </select>
    <label id="cart-noshi-from-text-lable" style="display: none" for="cart-noshi-from-text">名入れ</label>
    <textarea id="cart-noshi-from-text" name="attributes[のし名入れ]" style="display: none" rows="4" onclick="select_text_if_default(this);">
      {{ cart.attributes["のし名入れ"] | newline_to_br }}
    </textarea>
</p>
