<a
  class="header--cart-link"
  data-item="accent-text"
  aria-label="{{ 'layout.header.cart' | t }}"
  {% if settings.cart--type == 'drawer' %}
    data-off-canvas--open="right-sidebar"
    data-off-canvas--view="cart"
    aria-haspopup="menu"
    href="#"
  {% else %}
    href="{{ routes.cart_url }}"
  {% endif %}
>
  {%- liquid
    if cart_icon == 'text'
      echo 'layout.header.cart' | t
    elsif cart_icon == 'bag'
      render 'framework--icons', icon: 'bag'
    else
      render 'framework--icons', icon: 'cart'
    endif
  -%}

  <span class="header--cart-number" data-item-count="{{ cart.item_count }}">
  (<span class="cart--external--total-items">{{ cart.item_count }}</span>)
  </span>
</a>