{% comment %} Variables {% endcomment %}
{% assign center_content = section.settings.center-content--enabled %}

<div class="template-page--main" data-center-content="{{ center_content }}">
  <h1 data-item="section-heading">
    {{ page.title }}
  </h1>
  <div data-item="rte-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "center-content--enabled",
      "label": "Center content",
      "default": true
    }
  ]
}
{% endschema %}